@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Gotham Book";
    src: url("https://shresthdwivedi.github.io/public/Gotham%20Book%20Regular.otf"); 
}

*{
    font-family: "Gotham Book", san-serif;
}